{% extends 'blog/base.html' %}
{% block head %}
<title>home page</title>
{% endblock%}

{%block body%}

<!-- Begin Page Content -->
<div class="container-fluid">          <div class="row show-grid">
  <!-- Customer ROW -->
  <div class="col-md-3">
  <!-- Customer record -->
  <div class="col-md-12 mb-3">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-0">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Customers</div>
            <div class="h6 mb-0 font-weight-bold text-gray-800">
              {% for row in p%} 
              {{ p1 }} Record(s)
            </div>
          </div>
            <div class="col-auto">
              <i class="fas fa-users fa-2x text-gray-300"></i>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Supplier record -->
  <div class="col-md-12 mb-3">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-0">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Supplier</div>
            <div class="h6 mb-0 font-weight-bold text-gray-800">
              {{ p3 }}Record(s)
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-users fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
  <!-- Employee ROW -->
<div class="col-md-3">
  <!-- Employee record -->

  <!-- User record -->
  <div class="col-md-12 mb-3">
    <div class="card border-left-danger shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-0">
            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Registered Account</div>
            <div class="h6 mb-0 font-weight-bold text-gray-800">
              {{ p4 }} Record(s)
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-user fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- PRODUCTS ROW -->
<div class="col-md-3">
  <!-- Product record -->
  <div class="col-md-12 mb-3">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">

          <div class="col mr-0">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Product</div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h6 mb-0 mr-3 font-weight-bold text-gray-800">
                {{ p }} Record(s)
                </div>
              </div>
            </div>
          </div>

          <div class="col-auto">
            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
          </div>

        </div>
      </div>
    </div></div></div></div>
  
{% endblock %}


</body></html>