{% extends 'blog/base.html' %}
{% block head %}
<title>home page</title>
{% endblock%}

{%block body%}
<div class="container-fluid">
    <center><div class="card shadow mb-4 col-xs-12 col-md-8 border-bottom-primary">
              <div class="card-header py-3">
                <h4 class="m-2 font-weight-bold text-primary">Edit Supplier</h4>
              </div>
              <a type="button" class="btn btn-primary bg-gradient-primary btn-block" href="/supplier"> <i class="fas fa-flip-horizontal fa-fw fa-share"></i> Back </a>
              <div class="card-body">
         {% for row in prd %} 
              <form role="form" method="post" action="/supplierup/{{ row['COMPANY_NAME']}}">
               
                <input type="hidden" name="id" value="16">
                <div class="form-group row text-left text-warning">
                  <div class="col-sm-3" style="padding-top: 5px;">
                   Company Name:
                  </div>
                  <div class="col-sm-9">
                    <input class="form-control" placeholder="Company Name" name="name" value="{{ row['COMPANY_NAME']}}" required="">
                  </div>
                </div>
                
                <div class="form-group row text-left text-warning">
                  <div class="col-sm-3" style="padding-top: 5px;">
                   City:
                  </div>
                  <div class="col-sm-9">
                     <input class="form-control" placeholder="City" name="city" value="{{ row['CITY']}}" required="">
                  </div>
                </div>
                <div class="form-group row text-left text-warning">
                  <div class="col-sm-3" style="padding-top: 5px;">
                   Phone Number:
                  </div>
                  <div class="col-sm-9">
                     <input class="form-control" placeholder="Phone Number" name="phone" value="{{ row['PHONE_NUMBER']}}" required="">
                  </div>
                </div>
                <hr>
  
                  <button type="submit" class="btn btn-warning btn-block"><i class="fa fa-edit fa-fw"></i>Update</button>    
                
                </form>  {% endfor %}
              </div>
            </div></center>
  
  
          </div>

          {% endblock %}
